---
import MarketItem from "../../components/MarketItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Ether Logs #131">
  <div class="w-5/12 my-5 mx-auto">
    <MarketItem
      title="Ether Logs #131"
      src="https://gateway.ipfscdn.io/ipfs/bafybeifxaxbipz6vnizbwjq4tgva2symq5m3dj3szqgnjtx6nvhxnob7cm/131.png"
      id="131"
			isPage={true}
    />
  </div>
</BaseLayout>
